:root {
    --white: #ffffff;
    --green:#78A28D;
    --light-green:#B8C6BF;
    --cool-green:#3D7E5E;
	--dark-green: #2A302F;

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color:var(--dark-green);
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
  padding-bottom: 20px;
  width: 50%;
}

.section-title span {
	color: var(--dark-green);
}


body {
    background-color: var(--light-green);
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--cool-green);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 {
    color: var(--white);
}

.header nav {
	  padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.nav{
    height:3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight:bolder;
    font-size: 1.55vw;
  }

.nav_item{
  margin-bottom:var(--white) ;
}
.nav_link{
  position: relative;
  color: var(--white);
}
.nav_link:hover{
  position: relative;
}
.nav_link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
}
.nav_logo{
  color: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
}


p {
    font-size: 20px;
	flex-wrap: wrap;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Hero Section */
#hero {
	background-image: url(IMG_2612.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;

}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: antiquewhite;
}

/* End Hero Section */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
  font-size: 55px;
  display: inline-block;
  padding: 0 100px 20px 100px;
  margin: 0 auto 30px auto;
}

.About-Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: var(--green);
    color: var(--dark-green);
}

.Contact-Information {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
	  font-size: 20px;
    background-color: var(--green);
    color: var(--dark-green);
}

.Porfolio-Samples {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: var(--green);
    color: var(--dark-green);
}

.Resume {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: var(--green);
    color: var(--dark-green);
}

.About-Me img {
    max-height: 200px;
}

.Contact-Information img {
    max-height: 200px;
}

.Porfolio-Samples img {
    max-height: 200px;
}

.Resume img {
    max-height: 200px;
}

.About-Me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.Contact-Information h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.Porfolio-Samples h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.Resume h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  .header h1 {
    width: 100%;
    text-align: center;
  }

  .header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  .header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .hero-cta, .hero-form {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }
  
  .About-Me{
    flex: 0 70%;
  }
  .Contact-Information{
    flex: 0 70%;
  }
  .Porfolio-Samples{
    flex: 0 70%;
  }
  .Resume{
    flex: 0 70%;
  }
}
  @media screen and (min-width: 1024px){
    body{
      margin-left: auto;
      margin-right: auto;
    }
    .img{
      right: 10%;
    }
  }
